version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: code_nest_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redpanda:
    image: redpandadata/redpanda:v23.1.2
    container_name: redpanda
    command:
      - redpanda
      - start
      - --smp 1
      - --overprovisioned
      - --memory 512MiB
      - --node-id 0
      - --kafka-addr PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
    ports:
      - "9092:9092"
      - "29092:29092"
    networks:
      - app_network

  api-gateway:
    build:
      context: .
      dockerfile: services/api-gateway/Dockerfile
    container_name: api_gateway
    depends_on:
      - auth-service
      - workspace-service
    environment:
      - API_GATEWAY_PORT=8080
      - AUTH_SERVICE_URL=auth-service:50051
      - WORKSPACE_SERVICE_URL=workspace-service:50052
      - AUTH_SERVICE_JWKS_URL=http://auth-service:8081/.well-known/jwks.json
    ports:
      - "8080:8080"
    networks:
      - app_network

  auth-service:
    build:
      context: .
      dockerfile: services/auth-service/Dockerfile
    ports:
      - "8081:8081"
    container_name: auth_service
    depends_on:
      - postgres
    environment:
      - DB_HOST=postgres
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=code_nest_db
      - DB_PORT=5432
      - DB_SCHEMA=auth
      - DATABASE_URL=postgresql://user:password@postgres:5432/code_nest_db?sslmode=disable
      - JWT_SECRET=${JWT_SECRET:-dev-jwt-secret}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID:-dummy}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET:-dummy}
      - GOOGLE_REDIRECT_URL=${GOOGLE_REDIRECT_URL:-http://localhost:8080/auth/google/callback}
    networks:
      - app_network

  workspace-service:
    build:
      context: .
      dockerfile: services/workspace-service/Dockerfile
    container_name: workspace_service
    depends_on:
      - postgres
      - redpanda
    environment:
      - DB_HOST=postgres
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=code_nest_db
      - DB_PORT=5432
      - DB_SCHEMA=workspace
      - DATABASE_URL=postgresql://user:password@postgres:5432/code_nest_db?sslmode=disable
      - KAFKA_BROKER_URL=redpanda:29092
      - KAFKA_TOPIC_CMD=workspace.cmd
    networks:
      - app_network

  execution-service:
    build:
      context: .
      dockerfile: services/execution-service/Dockerfile
    container_name: execution_service
    depends_on:
      - redpanda
    environment:
      - KAFKA_BROKERS=redpanda:29092
      - KIND_CLUSTER=false
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
